<ion-header>
  <ion-toolbar>
    <ion-title>Historial Despachos </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-label>Producto: Aceite</ion-label>
  <ion-item>
  <ion-label>Pallet N°: 9995</ion-label>
</ion-item>
  <ion-item>
  <ion-label>SKU: 567894</ion-label>
  </ion-item>
</ion-item> 
<ion-item>
  <ion-label>Producto: Aceite</ion-label>
  <ion-item>
  <ion-label>Pallet N°: 9994</ion-label>
</ion-item>
  <ion-item>
  <ion-label>SKU: 567893</ion-label>
  </ion-item>
</ion-item> 
<ion-item>
  <ion-label>Producto: Aceite</ion-label>
  <ion-item>
  <ion-label>Pallet N°: 9993</ion-label>
</ion-item>
  <ion-item>
  <ion-label>SKU: 567892</ion-label>
  </ion-item>
</ion-item> 
<ion-item>
  <ion-label>Producto: Aceite</ion-label>
  <ion-item>
  <ion-label>Pallet N°: 9992</ion-label>
</ion-item>
  <ion-item>
  <ion-label>SKU: 567891</ion-label>
  </ion-item>
</ion-item> 
<ion-item>
  <ion-label>Producto: Aceite</ion-label>
  <ion-item>
  <ion-label>Pallet N°: 9995</ion-label>
</ion-item>
  <ion-item>
  <ion-label>SKU: 567890</ion-label>
  </ion-item>
</ion-item> 
  <ion-button id="open-loading" (click)="openModal()"routerLink="/home">Home</ion-button>
  <ion-loading class="custom-loading" trigger="open-loading" message="Loading..." [duration]="1000"></ion-loading>
